@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color: #f2efe8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    width: 400px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}
.login-container h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
}
.logo-container {
    margin-bottom: 20px;
}
.site-logo {
    width: 100px;
    height: auto;
}
.form-group {
    margin-bottom: 15px;
    text-align: left;
}
.form-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}
.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-sizing: border-box;
}
.social-icons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.social-icons img {
    width: 60px;
    height: 60px;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
}
.button-container {
    display: flex;
    justify-content: space-between;
}
.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

.login-button,
.signup-button {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    background-color: #f4b1c2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
