@font-face {
    font-family: 'BMJUA';
    src: url('./font/BMJUA_ttf.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #f2efe8;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 120vh;
    margin: 0;
    padding-top: 5px;
}

.card {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 900px;
    height: 1000px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.back-button {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: transparent;
    border: none;
    font-size: 1em;
    cursor: pointer;
    color: #555;
}

.back-button:hover {
    color: #333;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.title {
    font-size: 1.2em;
    border: none;
    background: none;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.title:focus {
    outline: none;
    border-bottom: 1px solid #ccc;
}

/* 이미지 업로드 스타일 */
.card img {
    width: 400px;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.summary {
    width: 100%;
    height: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    resize: none;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.auth-upload {
    margin-bottom: 10px;
}
#ocr-check-button {
    padding: 10px 20px;
    border: none;
    background-color: #f4b1c2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#ocr-check-button:hover {
    background-color: #f0a7b2;
}

.toggle-buttons {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    width: 80%;
}

.toggle-buttons button {
    color: #000000;
    background-color: #f4b1c2;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s;
    flex: 1;
}

.toggle-buttons button.active {
    color: white;
    background-color: #f0a7b2;
}
.isbn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

#isbn-input {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#isbn-check-button {
    padding: 10px 20px;
    border: none;
    background-color: #f4b1c2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#isbn-check-button:hover {
    background-color: #f0a7b2;
}


/* 글 작성 버튼 스타일 */
.footer button.action-button {
    color: white;
    background-color: #f4b1c2;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.footer button.action-button:hover {
    background-color: #f0a7b2;
}

#file-input {
    display: none;
}