<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.database.ChallengeMapper">
	<select id="selectAll" parameterType="Challenge" resultType="Challenge">
		select * from ch_challenge_tb
	</select>
	

</mapper>