<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FollowMapper">
	
	<!-- 팔로워 수 -->
	<select id="follower" resultType="int">
		select count(*) from ch_follow where following=#{following}
	</select>
	
	<!-- 팔로잉 수 -->
	<select id="following" resultType="int">
		select count(*) from ch_follow where follower=#{follower}
	</select>
	
	<!-- 팔로우 여부 확인 -->
	<select id="followCheck" parameterType="Follow" resultType="int">
		select count(*) from ch_follow where follower=#{follower} and following=#{following}
	</select>
	
	<!-- 팔로우 추가 -->
	<insert id="addFollow" parameterType="Follow">
		insert into ch_follow values (ch_follow_seq.nextval, #{follower}, #{following}, sysdate)
	</insert>
	
	<!-- 팔로우 삭제 -->
	<delete id="deleteFollow" parameterType="Follow">
		delete from ch_follow where follower=#{follower} and following=#{following}
	</delete>
	
</mapper>