<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Gc_itemsMapper">

	<!-- 그룹 챌린지 글 작성하기 -->
	<insert id="chWrite" parameterType="items">
		insert into ch_gc_items values (ch_gc_items_seq.nextval, #{g_item_title}, #{g_item_desc}, #{gc_idx}, #{id}, sysdate, 'N', #{gc_ocr}, 0)
	</insert>
	
	<!-- 그룹 챌린지 글 가져오기 -->
	<select id="getItem" parameterType="items" resultType="items">
		select * from ch_gc_items where gc_idx=#{gc_idx} and id=#{id} order by created_at desc
	</select>
	
	<!-- 챌린지 승인 -->
	<update id="success">
		update ch_gc_items set is_success='Y' where g_item_idx=#{g_item_idx}
	</update>

</mapper>