<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GroupMapper">
	<!-- 그룹리스트 가져오기 -->
	<select id="selectAll" resultType="Group">
		select * from ch_group
	</select>
	
	<!-- 그룹 생성 -->
	<insert id="createGroup" parameterType="Group">
		insert into ch_group values (ch_group_seq.nextval, #{group_name}, #{group_desc}, #{manager}, #{sub_manager}, sysdate, 10, 0, null)
	</insert>
	
	<!-- 그룹 정보 가져오기 -->
	<select id="groupInfo" resultType="Group">
		select * from ch_group where group_idx=#{idx}
	</select>
	
	<!-- 그룹 챌린지 검색 -->
	<select id="search" resultType="Group">
		select * from ch_group where group_name like '%'||#{keyword}||'%'
	</select>
	
</mapper>