<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member_pointMapper">
	<select id="rank" resultType="point">
		select * from ch_member_point order by user_point desc
	</select>


</mapper>