<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
	<!-- 회원가입 -->
	<insert id="join" parameterType="Member">
		insert into ch_member values (#{id}, #{pw}, #{name}, #{nick}, #{email}, #{phone}, #{birthdate}, #{fav_books}, sysdate, #{ch_count}, #{ch_suc_count}, null, null)
	</insert>
	
	<!-- 로그인 -->
	<select id="login" parameterType="Member" resultType="Member">
		select * from ch_member where id=#{id} and pw=#{pw}
	</select>
	
	<!-- 아이디 중복 체크 -->
	<select id="idCheck" resultType="boolean">
		select count(*) from ch_member where id = #{id}
	</select>
	
	<!-- 회원정보 가져오기 -->
	<select id="selectAll" resultType="Member">
		select * from ch_member
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="update" parameterType="Member">
		update ch_member set pw=#{pw}, nick=#{nick}, email=#{email}, phone=#{phone}, fav_books=#{fav_books} where id=#{id}
	</update>
	
	<!-- 프로필 수정 -->
	<update id="updateProfile" parameterType="Member">
		update ch_member set nick=#{nick}, profile_img=#{profile_img}, intro=#{intro} where id=#{id}
	</update>
	
	<!-- 업데이트 회원정보 가져오기 -->
	<select id="memberInfo" resultType="Member">
		select * from ch_member where id=#{id}
	</select>
	
</mapper>