<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WarningMapper">
	<!-- 투표 확인 -->
	<select id="warningCheck" resultType="int" parameterType="Warning">
		select count(*) from ch_warning where group_idx=#{group_idx} and id=#{id}
	</select>
	
	<!-- 투표 -->
	<insert id="addWarning" parameterType="Warning">
		insert into ch_warning values (ch_warning_seq.nextval, #{group_idx}, #{id}, 1)
	</insert>
	
	<!-- 투표인원 수 -->
	<select id="warningCount" resultType="int" parameterType="int">
		select count(*) from ch_warning where group_idx=#{group_idx}
	</select>
	
	<!-- 방장 삭제 -->
	<delete id="warningDelete" parameterType="int">
		delete from ch_warning where group_idx=#{group_idx}
	</delete>
	
</mapper>